/* Цвет основного текста: #757575 */
/* Цвет титулов: #212121 */
/* Акцент: #2196F3 */
/* Цвет адрессных ссылок: #FFFFFF99 */
/* Основной цвет фона: #FFFFFF */
/* Цвет фона вторичный: #F5F4FA */
/* Белый: rgba(255, 255, 255, 1) */
/* Цвет фона Footer #2F303A */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --addres-links-color: #ffffff99;
  --basic-backgroud-color: #ffffff;
  --background-color: #f5f4fa;
  --footer-bgc: #2f303a;
  --white-color: #fff;
  --black-color: #212121;
}
/* html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
} */
/* Для элемента <body> задано свойство font-family с доминантным на макете шрифтом Roboto. */
body {
  font-family: 'Roboto', 'Tahoma', sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--basic-backgroud-color);
}
address {
  font-style: normal;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* Логотип */
.studio-logo {
  color: var(--black-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/* Стиль дополнительного цвета логотипа */
.web-effect {
  color: var(--accent-color);
  /* Header */
}
/* Псевдоклассы состояния - Активируется когда курсор мыши находится в пределах элемента, 
например при наведении мыши на ссылку или любой другой элемент. 
Текст контактов в хедере и футере меняет цвет при ховере и фокусе. */
.header .studio-contacts {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header .studio-contacts:hover,
.header .studio-contacts:focus {
  color: var(--accent-color);
}
.studio-nav {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.studio-nav:hover,
.studio-nav:focus {
  color: var(--accent-color);
}
.studio-nav.current {
  color: var(--accent-color);
}
/* Principal section */
.principal-section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.principal-section {
  background-color: rgba(47, 48, 58, 1);
  /* margin: 0 auto;
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px; */
}
.order-button {
  background: var(--accent-color);
  font-family: inherit;
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: ;
  color: var(--title-text-color);
}
.section-title.visually-hidden,
.porfolio-title.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Features */
.features .title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-p-style {
  line-height: 1.71;
}
/* Our Team */
.section.team {
  background-color: var(--background-color);
}
.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);
}
.team-unit {
  font-size: 16px;
  line-height: 1.18;
  text-align: ;
}
/* Footer */
.footer .studio-contacts {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--addres-links-color);
}
.footer .studio-logo {
  color: var(--white-color);
}
.footer .studio-address:hover,
.footer .studio-contacts:hover,
.footer .studio-address:focus,
.footer .studio-contacts:focus {
  color: var(--accent-color);
}

.footer {
  background-color: var(--footer-bgc);
}
.studio-address {
  font-weight: 400;
  line-height: 1.71;
  color: var(--white-color);
}
/* Projects Portfolio */
.projects .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.projects .project-unit {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
/* Projects Filter Buttons */
.filter-button {
  background-color: rgba(245, 244, 250, 1);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--white-color);
}
/* Геометрия элементов */
.container {
  outline: 1px solid tomato;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.principal-section .container {
  outline: 1px solid tomato;
}
.order-button {
  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
}
.section.team .container {
  outline: 1px solid tomato;
  /* position: absolute; */
  /* display: inline-block; */
}
.section.features .container {
  outline: 1px solid tomato;
  /* position: absolute; */
  /* display: inline-block; */
}
.section.profile .container {
  outline: 1px solid tomato;
  /* position: absolute; */
  /* display: inline-block; */
}
